@use '../base/variables' as v;
@use '../base/mixins' as m;

.footer {
    background-color: v.$black;
    color: v.$white;
    font-size: v.$small;
    padding: v.$margin-small;

    @media screen and (min-width: v.$screen-middle) {
        @include m.flexbox(space-between);
        padding: 5px v.$margin-middle;
    }

    a {
        color: v.$white;
        &:visited {
            color: v.$yellow;
        }
    }

    &__copyright {
        margin-bottom: v.$margin-small;

        @media screen and (min-width: v.$screen-middle) {
            margin-bottom: 0;
        }

        @media screen and (min-width: v.$screen-big) {
            > *:not(:first-child) {
                padding-left: 5px;
            }
        }
    }
}