@use '../base/variables' as v;

body {
    display: grid;
    grid-template-columns: [full-start] v.$side-margin [main-start] 3fr [main-end side-start] 1fr [side-end] v.$side-margin [full-end];
    grid-template-rows: [header-start] v.$header-height [header-end content-start nav-start] 170px [nav-end main-start] 1fr [main-end side-start] auto [side-end content-end footer-start] auto [footer-end];
    align-content: start;
    align-items: start;

    @media screen and (min-width: v.$screen-middle) {
        grid-template-rows: [header-start] v.$header-height [header-end content-start nav-start] 235px [nav-end main-start] 1fr [main-end side-start] auto [side-end content-end footer-start] v.$header-height [footer-end];
    }

    @media screen and (min-width: v.$screen-big) {
        grid-template-rows: [header-start] v.$header-height [header-end content-start nav-start] auto [nav-end main-start] 1fr [main-end content-end footer-start] v.$footer-height [footer-end];
    }
}

.header {
    grid-column: full;
    grid-row: header;
}

.menu {
    grid-column: full;
    grid-row: nav;
}

main {
    grid-column: full;
    grid-row: main;
    @media screen and (min-width: v.$screen-big) {
        grid-column: main;
    }
}

.hp-main {
    grid-column: full;
    grid-row: content;
    justify-self: center;
    align-self: center;
    @media screen and (min-width: v.$screen-big) {
        grid-column: main-start / side-end;
    }
}

.side {
    grid-column: full;
    grid-row: side;

    @media screen and (min-width: v.$screen-big) {
        grid-column: side;
        grid-row: main;
    }
}

.footer {
    grid-column: full;
    grid-row: footer;
    align-self: stretch;
}