---
layout: layouts/article.njk
title: Starter Kit
cssFileName: article
---

{% import 'partials/button.njk' as b %}

<section class="starter">
    <h3>A quick checklist</h3>
    
    <ol class="starter__checklist">
        <li>Added to the AEBT Whatsapp group?</li>
        <li>Got a Welcome email from Toastmasters Europe Toastmaster automation site?</li>
    </ol>
    <p>If either of these are not done, please contact the <a class="article__link" href="">Vice President Membership</a>.</p>

    <div class="textbox"> 
        <p>As you continue with the toastmaster journey, you will learn to use two tools we work with, and that are provided by Toastmasters International.</p>
        <p>They are:</p>
        <ul class="starter__tools-list">
            <li class="starter__tools-item"><strong>Pathways BaseCamp</strong>, our learning and education platform to access all Pathways materials</li>
            <li class="starter__tools-item"><strong>EasySpeak</strong>, for scheduling speeches and meetings</li>
        </ul>
    </div>

    <h3>What next?</h3>
    <ol class="starter__next">
        <li>Access <a class="article__link" href="" target="_blank">BaseCamp</a> to choose your Pathways.</li>
        <li>Go to <a class="article__link" href="" target="_blank">EasySpeak</a> and mark your availability for the next few meetings.</li>
        <li>Your <a class="article__link" href="">Vice President of Education</a> (VPE) will assign roles to you for the upcoming meetings. Keep an eye open for emails that you receive, when roles are assigned to you!</li>
        <li>In the meanwhile, start preparing for your 1st speech - the <strong>"Ice breaker" speech</strong>. Please read the documentation <a class="article__link" href="https://toastmasterscdn.azureedge.net/medias/files/department-documents/education-documents/1167f-ice-breaker.pdf" target="_blank">here</a>.</li>
        <li>When you are assigned a <strong>role</strong>, you can learn more about what's expected from you in the <a class="article__link" href="/roles/">Roles Definition page</a>.</li>
        <li>Remember this club only runs because of <strong>volunteer</strong> efforts! That means your level of participation shapes the club, it's culture and ultimately the quality of the club depends on YOU :)</li>
    </ol>

    {{ b.button(url='#', label='Back to top') }}
 
</section>

<section id="pathways" class="pathways">
    <h2>Pathways BaseCamp</h2>
    
    <ul class="article__list">
        <li class="article__list-item">This is the foundation of Toastmasters International - it's your place for learning</li>
        <li class="article__list-item">The toastmasters website <span class="line-over">can</span> will be very confusing! It's not your fault :)</li>
        <li class="article__list-item">To get started, go to: <a class="article__link" href="https://www.toastmasters.org/login" target="_blank">https://www.toastmasters.org/login</a></li>
        <li class="article__list-item">Note - this website is not mobile web friendly - best viewed on computer/tablet</li>
    </ul>

    <div class="article__instructions">
        <h3>Step-by-step Guide:</h3>
        <p>Click to see the whole instructions:</p>

        {% for item in instpathways %}
            {% include 'partials/instruction.njk' %}
        {% endfor %}
    </div>

    {{ b.button(url='#', label='Back to top') }}

</section>

<section id="easy-speak" class="easy-speak">
    <h2>Easy Speak</h2>

    <ul class="article__list">
        <li class="article__list-item">Tool for scheduling meetings</li>
        <li class="article__list-item">Tracking Roles and events</li>
        <li class="article__list-item">See members of home club</li>
    </ul>

    <div class="article__instructions">
        <h3>Step-by-step Guide:</h3>
        <p>Click to see the whole instructions:</p>

        {% for item in insteasyspeak %}
            {% include 'partials/instruction.njk' %}
        {% endfor %}
    </div>

    {{ b.button(url='#', label='Back to top') }}

</section>