* {
  font-family: "Josefin Sans", sans-serif;
  box-sizing: border-box;
  line-height: 1.3;
}

html, body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  color: #0a0a0a;
}

h1, h2, h3, h4 {
  font-family: "Abril Fatface", cursive;
  margin-top: 0;
}

h1 {
  text-align: center;
}
@media screen and (min-width: 768px) {
  h1 {
    text-align: left;
  }
}

h2, h3 {
  margin-left: 15px;
}
@media screen and (min-width: 768px) {
  h2, h3 {
    margin-left: 0;
  }
}

p {
  margin-top: 0;
}

li:not(:last-child) {
  margin-bottom: 10px;
}

ul, ol {
  margin-top: 0;
  padding-left: 15px;
}

section {
  scroll-margin: 15px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 8px 15px;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .header {
    margin: 0;
    padding: 5px 30px;
  }
}
.header a {
  font-size: 14px;
  text-decoration: none;
  color: #0a0a0a;
}
@media screen and (min-width: 768px) {
  .header a {
    font-size: 16px;
  }
}
.header__logo-toastm-int {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  margin-right: 35px;
}
@media screen and (min-width: 768px) {
  .header__logo-toastm-int {
    height: 40px;
  }
}
.header__img {
  height: 100%;
}
.header__img--label {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__img--label {
    display: block;
    padding-left: 15px;
  }
}
.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75%;
  max-width: 250px;
}
.header__nav > a:hover, .header__nav > a:focus, .header__nav > a:active {
  text-decoration: underline;
}
@media screen and (min-width: 768px) {
  .header__nav {
    width: 25vw;
    min-width: 250px;
    max-width: unset;
  }
}

.menu {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "welcome starter roles about";
  gap: 5px;
  margin: 0 5px;
}
.menu .welcome {
  grid-area: welcome;
  width: 100%;
}
@media screen and (min-width: 1180px) {
  .menu .welcome {
    justify-self: end;
    align-self: end;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row-reverse;
  }
  .menu .welcome__btn {
    flex-basis: 130px;
  }
  .menu .welcome__side {
    flex-basis: calc(100% - 130px);
    text-align: left;
    text-align: right;
  }
}
.menu .starter {
  grid-area: starter;
  width: 100%;
}
@media screen and (min-width: 1180px) {
  .menu .starter {
    justify-self: end;
    align-self: start;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row-reverse;
  }
  .menu .starter__btn {
    flex-basis: 130px;
  }
  .menu .starter__side {
    flex-basis: calc(100% - 130px);
    text-align: left;
    text-align: right;
  }
}
.menu .roles {
  grid-area: roles;
  width: 100%;
}
@media screen and (min-width: 1180px) {
  .menu .roles {
    justify-self: start;
    align-self: end;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .menu .roles__btn {
    flex-basis: 130px;
  }
  .menu .roles__side {
    flex-basis: calc(100% - 130px);
    text-align: left;
  }
}
.menu .about {
  grid-area: about;
  width: 100%;
}
@media screen and (min-width: 1180px) {
  .menu .about {
    justify-self: start;
    align-self: start;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .menu .about__btn {
    flex-basis: 130px;
  }
  .menu .about__side {
    flex-basis: calc(100% - 130px);
    text-align: left;
  }
}
@media screen and (min-width: 768px) {
  .menu {
    grid-template-columns: 1fr 1fr 130px 1fr 1fr;
    grid-template-areas: "welcome starter mascot roles about";
    gap: 10px;
    margin: 15px 50px 0;
  }
}
@media screen and (min-width: 1180px) {
  .menu {
    margin: -30px 30px 0;
    grid-template-columns: 1fr 130px 1fr;
    grid-template-areas: "welcome mascot roles" "starter mascot about";
    gap: 3px 0;
  }
}
.menu a {
  display: block;
  color: #ffffff;
  font-weight: 600;
  text-decoration: none;
  font-size: 11px;
}
.menu a:hover, .menu a:focus, .menu a:active {
  font-weight: bold;
  letter-spacing: -0.3px;
}
.menu a.menu__mascot {
  display: none;
}
@media screen and (min-width: 768px) {
  .menu a {
    font-size: 16px;
  }
  .menu a.menu__mascot {
    display: block;
  }
}
@media screen and (min-width: 1180px) {
  .menu a {
    display: inline-block;
  }
}
.menu__mascot {
  margin-top: -30px;
  grid-area: mascot;
}
.menu__mascot > img {
  width: 100%;
}
@media screen and (min-width: 1180px) {
  .menu__mascot {
    margin-top: 0;
  }
}
.menu__link, .menu__anchors {
  padding: 8px 3px 5px;
  text-align: center;
  position: relative;
}
.menu__link {
  z-index: 1;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  border-radius: 15px;
}
.menu__anchors {
  display: block;
  margin-top: -15px;
  padding-bottom: 25px;
  visibility: visible;
  opacity: 1;
  width: 100%;
  height: 150px;
  transition: visibility 0.5s, opacity 0.5s linear;
  z-index: 0;
}
.menu__anchors > a {
  color: #0a0a0a;
  padding: 0 5px;
  font-size: 13px;
  line-height: 1;
  display: inline-flex;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .menu__anchors > a {
    font-size: 16px;
    line-height: 1.2;
  }
}
@media screen and (min-width: 768px) {
  .menu__anchors {
    padding-bottom: 35px;
    height: 170px;
  }
}
@media screen and (min-width: 1180px) {
  .menu__anchors {
    display: inline-block;
    margin: 0 -30px;
    padding: 8px 35px 5px;
    border-radius: 15px;
    height: auto;
  }
}
.menu__arrow {
  display: none;
}
@media screen and (max-width: 1180px) {
  .menu__arrow {
    display: block;
    padding: 10px 0 0;
    cursor: pointer;
  }
}
@media screen and (max-width: 1180px) and (min-width: 768px) {
  .menu__arrow {
    padding: 15px 0 10px;
  }
}
@media screen and (max-width: 1180px) {
  .menu__arrow ~ a {
    height: 25px;
    visibility: hidden;
    opacity: 0;
    transition: height linear 0.3s, visibility ease 0.6s, opacity ease 0.6s;
  }
}
@media screen and (max-width: 1180px) {
  .menu__arrow > img {
    height: 10px;
    width: 10px;
    margin: 0 auto;
    transform: rotate(0deg);
    transition: transform 0.6s;
  }
}
@media screen and (max-width: 1180px) and (min-width: 768px) {
  .menu__arrow > img {
    height: 15px;
    width: 15px;
  }
}
@media screen and (max-width: 1180px) {
  .menu__arrow--toggle ~ a {
    visibility: visible;
    opacity: 1;
  }
}
@media screen and (max-width: 1180px) and (min-width: 768px) {
  .menu__arrow--toggle ~ a {
    height: 30px;
  }
}
@media screen and (max-width: 1180px) {
  .menu__arrow--toggle > img {
    transform: rotate(180deg);
  }
}
.menu .welcome__btn {
  background-color: #cc3433;
}
.menu .welcome__side {
  background-image: linear-gradient(to top, transparent 5%, #ebaead 95%);
}
@media screen and (min-width: 1180px) {
  .menu .welcome__side {
    background-image: linear-gradient(to right, transparent 5%, #ebaead 95%);
  }
}
.menu .starter__btn {
  background-color: #f36b25;
}
.menu .starter__side {
  background-image: linear-gradient(to top, transparent 5%, #fbcdb6 95%);
}
@media screen and (min-width: 1180px) {
  .menu .starter__side {
    background-image: linear-gradient(to right, transparent 5%, #fbcdb6 95%);
  }
}
.menu .roles__btn {
  background-color: #eeea5d;
  color: #0a0a0a;
}
.menu .roles__side {
  background-image: linear-gradient(to top, transparent 5%, #f8f6b9 95%);
  color: #0a0a0a;
}
@media screen and (min-width: 1180px) {
  .menu .roles__side {
    background-image: linear-gradient(to left, transparent 5%, #f8f6b9 95%);
  }
}
.menu .about__btn {
  background-color: #3c65af;
}
.menu .about__side {
  background-image: linear-gradient(to top, transparent 5%, #a4b9e0 95%);
}
@media screen and (min-width: 1180px) {
  .menu .about__side {
    background-image: linear-gradient(to left, transparent 5%, #a4b9e0 95%);
  }
}
@media screen and (min-width: 1180px) {
  .menu .hidden {
    visibility: hidden;
    opacity: 0;
  }
}

.side {
  margin: 0 15px 35px;
  background-color: #f8f6b9;
  padding: 15px;
  border-radius: 15px;
}
@media screen and (min-width: 768px) {
  .side {
    margin: 0 50px 50px;
    padding: 25px;
  }
}
@media screen and (min-width: 1180px) {
  .side {
    margin: 35px 0 0;
  }
}
.side__link {
  display: block;
  margin-bottom: 15px;
  font-weight: 600;
  text-decoration: none;
  color: #0a0a0a;
}
.side__link:hover, .side__link:focus, .side__link:active {
  font-weight: 700;
  color: #3c65af;
  letter-spacing: -0.25px;
  text-decoration: underline;
}

.footer {
  background-color: #0a0a0a;
  color: #ffffff;
  font-size: 14px;
  padding: 15px;
}
@media screen and (min-width: 768px) {
  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 35px;
  }
}
.footer a {
  color: #ffffff;
}
.footer a:visited {
  color: #eeea5d;
}
.footer__copyright {
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .footer__copyright {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1180px) {
  .footer__copyright > *:not(:first-child) {
    padding-left: 5px;
  }
}

body {
  display: grid;
  grid-template-columns: [full-start] 10vw [main-start] 3fr [main-end side-start] 1fr [side-end] 10vw [full-end];
  grid-template-rows: [header-start] 50px [header-end content-start nav-start] 170px [nav-end main-start] 1fr [main-end side-start] auto [side-end content-end footer-start] auto [footer-end];
  align-content: start;
  align-items: start;
}
@media screen and (min-width: 768px) {
  body {
    grid-template-rows: [header-start] 50px [header-end content-start nav-start] 235px [nav-end main-start] 1fr [main-end side-start] auto [side-end content-end footer-start] 50px [footer-end];
  }
}
@media screen and (min-width: 1180px) {
  body {
    grid-template-rows: [header-start] 50px [header-end content-start nav-start] auto [nav-end main-start] 1fr [main-end content-end footer-start] 35px [footer-end];
  }
}

.header {
  grid-column: full;
  grid-row: header;
}

.menu {
  grid-column: full;
  grid-row: nav;
}

main {
  grid-column: full;
  grid-row: main;
}
@media screen and (min-width: 1180px) {
  main {
    grid-column: main;
  }
}

.hp-main {
  grid-column: full;
  grid-row: content;
  justify-self: center;
  align-self: center;
}
@media screen and (min-width: 1180px) {
  .hp-main {
    grid-column: main-start/side-end;
  }
}

.side {
  grid-column: full;
  grid-row: side;
}
@media screen and (min-width: 1180px) {
  .side {
    grid-column: side;
    grid-row: main;
  }
}

.footer {
  grid-column: full;
  grid-row: footer;
  align-self: stretch;
}

.hp-main > h1 {
  text-align: center;
}

.hp__hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "welcome about" "starter roles";
  position: relative;
  width: 95vw;
  height: 95vw;
  border-radius: 50px;
  overflow: hidden;
  margin: 35px auto;
  box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.4);
}
@media screen and (min-width: 768px) {
  .hp__hero {
    width: 100%;
    height: 55vh;
    margin: 50px auto;
  }
}
@media screen and (min-width: 1180px) {
  .hp__hero {
    width: 55vw;
  }
}
.hp__hero .welcome {
  grid-area: welcome;
  background-color: #cc3433;
}
.hp__hero .welcome > span {
  position: absolute;
  left: 10px;
  top: 40px;
  text-align: center;
  width: 150px;
}
@media screen and (min-width: 768px) {
  .hp__hero .welcome > span {
    left: 45px;
    top: 35px;
    width: calc(100% - 20vmin);
  }
}
.hp__hero .welcome:hover, .hp__hero .welcome:focus, .hp__hero .welcome:active {
  background-color: #c43231;
}
.hp__hero .roles {
  grid-area: roles;
  background-color: #d8d317;
  text-align: right;
}
.hp__hero .roles > span {
  position: absolute;
  right: 10px;
  bottom: 40px;
  text-align: center;
  width: 150px;
}
@media screen and (min-width: 768px) {
  .hp__hero .roles > span {
    right: 45px;
    bottom: 35px;
    width: calc(100% - 20vmin);
  }
}
.hp__hero .roles:hover, .hp__hero .roles:focus, .hp__hero .roles:active {
  background-color: #cfca16;
}
.hp__hero .starter {
  grid-area: starter;
  background-color: #f36b25;
}
.hp__hero .starter > span {
  position: absolute;
  left: 10px;
  bottom: 40px;
  text-align: center;
  width: 150px;
}
@media screen and (min-width: 768px) {
  .hp__hero .starter > span {
    left: 45px;
    bottom: 35px;
    width: calc(100% - 20vmin);
  }
}
.hp__hero .starter:hover, .hp__hero .starter:focus, .hp__hero .starter:active {
  background-color: #f2641b;
}
.hp__hero .about {
  grid-area: about;
  background-color: #3c65af;
  text-align: right;
}
.hp__hero .about > span {
  position: absolute;
  right: 10px;
  top: 40px;
  text-align: center;
  width: 150px;
}
@media screen and (min-width: 768px) {
  .hp__hero .about > span {
    right: 45px;
    top: 35px;
    width: calc(100% - 20vmin);
  }
}
.hp__hero .about:hover, .hp__hero .about:focus, .hp__hero .about:active {
  background-color: #3961a7;
}
.hp__mascot {
  position: absolute;
  top: calc(50% - 20vmin);
  left: calc(50% - 20vmin);
  width: 40vmin;
  height: 40vmin;
  background: #ffffff;
  border-radius: 50%;
}
.hp__mascot > img {
  width: 100%;
  aspect-ratio: 1/1;
  transform: scale(1.05);
}
.hp__link {
  text-decoration: none;
  position: relative;
  transition: background-color 400ms;
}
.hp__link > span {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 24px;
  font-family: "Abril Fatface", cursive;
}
@media screen and (min-width: 768px) {
  .hp__link {
    font-size: 30px;
  }
}/*# sourceMappingURL=homepage.css.map */