@use '../base/variables' as v;

.instruction {
    border-width: 2px;
    border-style: dashed;
    border-radius: 15px;
    margin-bottom: v.$margin-small;
    overflow: hidden;

    &__heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: v.$margin-small;
        h4 {
            margin-bottom: 0;
        }
        &:hover,
        &:focus,
        &:active {
            cursor: pointer;
        }
    }

    &__arrow {
        width: 15px;
        height: 15px;
        transform: rotate(0deg);
        transition: transform 500ms;
        > img {
            width: 100%;
        }
        &--up {
            transform: rotate(180deg);
        }
    }

    &__body {
        transition: height ease 0.6s;
        > *:first-child {
            padding-top: v.$margin-small;
        }
        > *:last-child {
            padding-bottom: v.$margin-small;
        }
        > * {
            margin-left: v.$margin-small;
            margin-right: v.$margin-small;
        }
    }

    &__list {
        margin-bottom: 0;
    }

    &__list-item {
        > p {
            margin: 0;
        }
    }

    &__divider {
        margin-top: v.$margin-small;
        margin-bottom: v.$margin-small;
        font-weight: 600;
        &:first-child {
            margin-top: 0;
        }
    }

    &__olist, &__ulist {
        &:last-child {
            margin-bottom: 0;
        }
        ul {
            list-style-type: disc;
            padding-left: 0;
        }
    }

    &__olist-item > p, 
    &__ulist-item > p {
        margin-bottom: calc(#{v.$margin-small} - 10px);
        font-weight: 600;
    }

    &:nth-of-type(4n+1) {
        border-color: v.$orange;
        .instruction__heading {
            background-color: v.$orange-light;
        }
    }

    &:nth-of-type(4n+2) {
        border-color: v.$red;
        .instruction__heading {
            background-color: v.$red-light;
        }
    }

    &:nth-of-type(4n+3) {
        border-color: v.$blue;
        .instruction__heading {
            background-color: v.$blue-light;
        }
    }

    &:nth-of-type(4n+4) {
        border-color: v.$yellow;
        .instruction__heading {
            background-color: v.$yellow-light;
        }
    }
}