@use 'sass:color' as *;

// Colors
$blue: #3c65af;
$blue-light: adjust($blue, $lightness: 30%);
$red: #cc3433;
$red-light: adjust($red, $lightness: 30%);
$orange: #f36b25;
$orange-light: adjust($orange, $lightness: 30%);
$yellow: #eeea5d;
$yellow-light: adjust($yellow, $lightness: 20%);
$black: #0a0a0a;
$white: #ffffff;

// Typography - fonts
$font-heading: 'Abril Fatface', cursive;
$font-text: 'Josefin Sans', sans-serif;

// Typography - font sizes
$xsmall: 11px;
$small: 14px;
$smaller: 16px;
$base: 18px;
$big: 20px;
$extra: 30px;

// Dimensions
$header-height: 50px;
$footer-height: 35px;
$side-margin: 10vw;

// Margins
$margin-big: 50px;
$margin-middle: 35px;
$margin-small: 15px;

// Breakpoints
$screen-small: 500px;
$screen-middle: 768px;
$screen-big: 1180px;