<footer class="footer">

    <div class="footer__copyright">
        <span>Amsterdam Early Bird Toastmasters Club, 2021</span>
        <span>&copy;</span>
        <a href="mailto:amsterdamearlybirdtm@gmail.com">amsterdamearlybirdtm@gmail.com</a>
    </div>

    <div class="footer__freepik">
        Free vector pictures by Freepik <a href="https://www.freepik.com/" target="_blank">www.freepik.com</a>
    </div>
    
</footer>