<header class="header">

    <a class="header__logo-toastm-int" href="https://www.toastmasters.org/">
        <img class="header__img" src="/assets/images/toastmasters-int-logo.png" alt="Toastmasters Int logo">
        <div class="header__img--label">Toastmasters Int.</div>
    </a>

    <nav class="header__nav">
        <a href="/faqs/">FAQs</a>
        <a href="/downloads/">Downloads</a>
        <a href="/links/">Other links</a>
    </nav>

</header>