<a class="role-icon" href="{{ r.url }}">
    <div class="role-icon__img--wrapper{{ " role-icon__img--active" if page.url === r.url }}">
        <img src="/assets/images/birds/{{ r.img }}.png" alt="{{ r.name }} - bird icon" class="role-icon__img" />
    </div>
    <div class="role-icon__label">{{ r.name }}</div>
</a>