@use '../base';
@use '../components/textbox';
@use '../components/instruction';
@use '../components/officer';

@use '../base/variables' as v;

.article {
    margin: 25px v.$margin-big 0 0;

    section {
        margin-bottom: v.$margin-big;
        &:not(:last-child)::after {
            display: block;
            content: '';
            width: 150px;
            border-top: 1px solid black;
            margin-top: v.$margin-middle;
        }
    }
    
    &__link {
        font-weight: 600;
        color: v.$black;
        &:hover,
        &:focus,
        &:active {
            font-weight: bold;
        }
    }

    &__list {
        margin-bottom: v.$margin-middle;
    }

    .line-over {
        text-decoration: line-through;
    }
}

.mascot {
    &__img {
        width: 100%;
        &--wrapper {
            width: 50%;
            margin: 0 auto;
        }
    }

    &__descr-item {
        > ul {
            margin-bottom: v.$margin-small;
        }
        > p:last-child {
            margin-bottom: 0;
        }
        &:not(:last-of-type) {
            margin-bottom: v.$margin-middle;
        }
    }

    &__box {
        background-color: v.$yellow-light;
        margin-top: v.$margin-small;
    }
}