@use '../base';
@use '../components/textbox';
@use '../components/button';
@use '../components/instruction';
@use '../components/officer';

@use '../base/variables' as v;

.article {
    margin: 0 v.$margin-small;

    @media screen and (min-width: v.$screen-middle) {
        margin: 0 v.$margin-big;
    }

    @media screen and (min-width: v.$screen-big) {
        margin: 25px v.$margin-big 0 0;
    }

    section {
        margin-bottom: v.$margin-big;
        &:not(:last-child)::after {
            display: block;
            content: '';
            width: 20rem;
            max-width: 100%;
            border-top: 1.5px dashed v.$black;
            margin: v.$margin-middle auto;
            @media screen and (min-width: v.$screen-middle) {
                margin-top: v.$margin-middle;
                width: 10rem;
            }
        }
        &:not(:last-child) > .button:last-child {
            @media screen and (min-width: v.$screen-middle) {
                margin-bottom: calc(-#{v.$margin-middle} / 2 );   
            }
        }
    }
    
    &__link {
        font-weight: 600;
        color: v.$black;
        &:hover,
        &:focus,
        &:active {
            font-weight: bold;
        }
    }

    &__list {
        margin-bottom: v.$margin-middle;
    }

    .line-over {
        text-decoration: line-through;
    }
}

.mascot {
    &__img {
        width: 100%;
        &--wrapper {
            width: 50%;
            margin: 0 auto;
        }
    }

    &__descr-item {
        > ul {
            margin-bottom: v.$margin-small;
        }
        > p:last-child {
            margin-bottom: 0;
        }
        &:not(:last-of-type) {
            margin-bottom: v.$margin-middle;
        }
    }

    &__box {
        background-color: v.$yellow-light;
        margin-top: v.$margin-small;
    }
}

.faq {
    a {
        color: v.$black;
        &:hover,
        &:focus,
        &:active {
            color: v.$blue;
        }
    }
    &__wrapper {
        margin-bottom: v.$margin-middle;
    }
    &__question {
        font-size: v.$big;
        font-weight: 700;
        margin-bottom: v.$margin-small;
    }
}