@use '../pages/article.scss';
@use '../components/role-icon';

@use '../base/variables' as v;
@use '../base/mixins' as m;

// Page /roles/

.roles {
    &__list {
        margin: v.$margin-middle 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    
        > * {
            flex: 0 0 calc((100% - 30px) / 3);
            @media screen and (min-width: v.$screen-middle) {
                flex-basis: calc((100% - 60px) / 6);
            }
        }
    }

    &__nav {
        @include m.flexbox(center, true, 11);
        flex-wrap: wrap;
        align-items: flex-start;
        margin-top: -100px;
        margin-bottom: v.$margin-middle;
        gap: 5px;
        @media screen and (min-width: v.$screen-middle) {
            gap: 0;
            height: 100px;
            justify-content: space-between;
            margin-top: 0;
        }
        > * {
            flex: 0 0 calc((100% - 25px) / 5);
            @media screen and (min-width: v.$screen-middle) {
                flex-basis: calc((100% - 35px) / 11);
            }
        }
        &::after {
            display: block;
            content: '';
            width: 20rem;
            max-width: 100%;
            border-top: 1.5px dashed v.$black;
            margin: v.$margin-middle auto 0;
            @media screen and (min-width: v.$screen-middle) {
                display: none;
            }
        }

        .role-icon {
            &__label {
                font-size: 10px;
            }
            &__img--active + .role-icon__label {
                display: none;
            }

            @media screen and (min-width: v.$screen-big) {
                &__label {
                    display: none;
                    margin: 30px -35px;
                    font-size: v.$smaller;
                }
                &:hover,
                &:focus,
                &:active {
                    .role-icon__img--wrapper {
                        transform: scale(1.5);
                    }
                    .role-icon__label {
                        display: block;
                    }
                    .role-icon__img--active {
                        transform: scale(1.7);
                        + .role-icon__label {
                            display: none;
                        }
                    }
                }
            }
            &__img--active {
                transform: scale(1.5);
                border-width: 2px;
                box-shadow: 1px 1px 15px v.$yellow;
                @media screen and (min-width: v.$screen-middle) {
                    transform: scale(1.7);
                }
            }
        }
    }
}

// Page /roles/<role-name>/

.role {
    > section.role__section {
        &::after {
            display: none;
        }
    }

    &__menu {
        display: none;
        @media screen and (min-width: v.$screen-middle) {
            display: block;
        }
    }

    &__motto {
        font-size: v.$big;
        font-style: italic;
        margin-bottom: v.$margin-middle;
        text-align: center;
        @media screen and (min-width: v.$screen-middle) {
            text-align: left;
        }
    }

    &__section {
        > p:last-of-type {
            margin-bottom: v.$margin-middle;
        }
    }

    &__tips {
        border: 2px dashed v.$black;
        border-radius: 15px;
        padding: v.$margin-small;
        margin-bottom: v.$margin-big;
        > .role__list {
            margin-bottom: 0;
        }
    }

    .textbox {
        &:nth-of-type(4n+2) {
            background-color: v.$red-light;
        }
        &:nth-of-type(4n+3) {
            background-color: v.$yellow-light;
        }
        &:nth-of-type(4n+4) {
            background-color: v.$orange-light;
        }
    }

    .instruction {
        &__ulist--wrapper {
            > p {
                margin-bottom: 5px;
            }
        }
        &__olist-item > p {
            font-weight: 400;
        }
    }

    .button {
        margin-right: auto;
    }
}